p{
    font-family: Times New Roman ;
}

p:firsh-child{
    font-family: Georgia, serif;

}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(0,73,108);
    font-family: Georgia,"Times New Roman", serif, italic;
    font-size: 11px;
    width: 770px;
    margin: 0 auto;
}

.container{
    width: 770px;
    margin: 0 auto;
}

.top{
    height: 45px;
    width: 770px;
    background-image: url("img/cover_top.png");
    background-repeat: no-repeat;
}

header{
    background: url("img/game-of-thrones.jpg")  no-repeat ;
    width: 268px;
    height: 71px;
    float: left;
    margin-top: 40px;
    margin-left: 65px;
    text-indent: -9999px;
}

header h2{
    background: url("img/ice-and-fire.jpg") no-repeat;
    float: left;
    text-indent: -9999px;
    margin-left: -20px;
    width: 299px;
    height: 22px;
    margin-top: 50px;
}
.summary{
    background-image: url("img/bookmark.jpg");
    width: 345px;
    float: right;
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: 51px;
    margin-top: 16px;
}
.summary p{
    text-align: left;
    width: 175px;
    margin-left: 53px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.summary p:last-child{
    color: white;
    margin-left: 280px;
    margin-bottom: 400px;
    position: relative;
    margin-top: -150px;
    width: 50px;
}

.summary p.bezvrska{
    margin-top: -133px;
    margin-bottom: 116px;
    margin-left: 281px;
    width: 51px;
    color: #FFFFFF;
    background-color: red;
}

.summary p.bezvrska a{
    color: #FFFFFF;

}

.introduction {
    background-image: url("img/introduction.png");
    width: 212px;
    height: 44px;
    float: left;
    margin-left:-175px;
    margin-top: 200px;
}
.introduction p{
    text-align: left;
    width: 340px;
    margin-left: 242px;
    margin-bottom: 3px;
}
.introduction h3{
    background: url("img/img_1.jpg");
    text-indent: -9999px;
    width: 336px;
    height: 191px;
    float: left;
    margin-left: -124px;
    margin-top: 65px;
}

.main {
    width: 770px;
    height: 1200px;
    background-image: url("img/cover.png");
    background-repeat: repeat-y;
}

.about{
    background: url("img/about.png");
    width: 176px;
    height: 45px;
    margin-top: -130px;
    margin-left: 400px;
    float: left;
}

.about p {
    width: 336px;
    margin-bottom: 125px;
    margin-top: -120px;
    text-align: right;
    margin-left: -370px;
}

.about h3{
    text-indent: -9999px;
    background-image: url("img/img_2.jpg");
    width: 336px;
    height: 191px;
    margin-top: 30px;
    margin-left: -5px;
}

.people h3{
    background: url("img/people.png") no-repeat;

    width: 157px;
    height: 45px;
    float: left;
    text-indent: -9999px;
    margin-top: 150px;
    margin-bottom: 300px;
    margin-left: 212px
}

.people p{
    float: right;
    width: 283px;
    text-align: left;
    margin-bottom: -300px;
    margin-top: 300px;
    margin-right: 63px;
}

.people2 p{
    width: 253px;
    float: right;
    text-align: left;
    margin-bottom: -294px;
    margin-top: 296px;
    margin-right: 95px;
}

footer{
    height: 100px;
    width: 150px;
    margin-right: -200px;
    margin-top: 410px;
    margin-bottom: 15px;
    float: right;
}

footer a{
    text-decoration: none;
    padding: 10px;
    color: black;

}

footer a:hover{
    color: red;
    outline: #333 solid 1px;
}

.sidebar{
    background: url("img/img_3.jpg");
    width: 333px;
    height: 213px;
    float: left;
    margin-top: -531px;
    margin-left: 36px;
}

.wrapper{

    background: url("img/cover_bot.png");
    width: 770px;
    height: 130px;
    background-repeat: no-repeat;
    /*float: inherit;*/
    margin-top: 531px;
    margin-left: -36px;
}

.most-visited h3{
    background: url("img/most-visited.png");
    width: 145px;
    height: 33px;
    text-indent: -9999px;
    margin-top: -35px;
    margin-left: -34px;
}

.most-visited{
    margin-left: 90px;
    margin-bottom: 4px;
    margin-top: -275px;
    float: left
}

.navigation ul{
    list-style-image: url("img/bull.png");
}

.navigation ul a{
    text-decoration: none;
    margin: 0 0 10px;
}

.navigation ul li a:hover{
    color: red;
}

.backstage{
    background-image: url("img/backstage.png");
    width: 85px;
    height: 22px;
    float: left;
    text-indent: -9999px;
    margin-left: 7px;
    margin-top: 16px;
}

.backstage-links{
    background: url("img/notes.jpg");
    width: 252px;
    height: 249px;
    margin-top: -158px;
    float: left;
    margin-left: 54px;
}

.backstage-links ul{
    margin-top: 94px;
    float: left;
    margin-left: -41px;
    list-style: none;
}

.backstage-links ul a{
    text-decoration: none;
}

.backstage-links ul li a:hover{
    color: red;
    padding-top: 15px;
}
