/* Ime Prezime Indeks

Grupa 1

-------------------------------------------------- */

.page-wrapper{border:2px;background-color:yellow;}
.summary{border:5;color:green;}
.history{border: 1px solid red;}
.main level{border:2px;background:blue;}
.behaviou{border: 10px solid red;}
.manners{border:5;color:green;}
.intro{border: 5px solid orange;}
.code{border: 10px solid blue;}